<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/output.css">
</head>
<body>
    
  <div class="title_name">
        <p class="first_name">Chris</p>
        <p class="last_name">Hemsworth</p>
  </div>

  <div class="fullscreen-bg"></div>
    <img src="../static/output/chris_hemsworth.jpg">
  </div>  
  <div class="box"></div>
  <div class="table_content">
    <table>
      <tr>
          <th>Character</th>
          <th>Similarity</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
          <td>Scarlett Johansson</td>
          <td>{{ prob[0]|float|round(4) }}</td>
          <td></td>
      </tr>
      <tr>
          <td>Mark Ruffalo</td>
          <td>{{ prob[1]|float|round(4) }}</td>
          <td></td>
      </tr>
      <tr>
          <td>RDJ</td>
          <td>{{ prob[2]|float|round(4) }}</td>
      </tr>
      <tr>
          <td>Chris Evans</td>
          <td>{{ prob[3]|float|round(4) }}</td>
      </tr>
      <tr>
          <td>Chris Hemsworth</td>
          <td>{{ prob[4]|float|round(4) }}</td>
      </tr>
    </table>
  </div>
</body>
</html>
