<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="black-widow">
        <div class="container-6">
          <div class="container-5">
            <span class="character">
              Character
            </span>
            <span class="similarity">
              Similarity
            </span>
          </div>
          <div class="container-1">
            <span class="scarlett-johansson">
              Scarlett Johansson
            </span>
            <span class="container">
                {{ prob[0] }}
            </span>
          </div>
          <div class="container">
            <span class="mark-ruffalo">
              Mark Ruffalo
            </span>
            <span class="container-1">
                {{ prob[1] }}
            </span>
          </div>
          <div class="container-2">
            <span class="robert-downey-jr">
              Robert Downey Jr
            </span>
            <span class="container-2">
                {{ prob[2] }}
            </span>
          </div>
          <div class="container-4">
            <span class="chris-evans">
              Chris Evans
            </span>
            <span class="container-3">
                {{ prob[3] }}
            </span>
          </div>
          <div class="container-3">
            <span class="chris-hemsworth">
              Chris Hemsworth
            </span>
            <span class="container-4">
                {{ prob[4] }}
            </span>
          </div>
          <span class="scarle">
            Scarle
          </span>
        </div>
        <div class="image-1">
        </div>
        <div class="image-2">
        </div>
        <span class="johanssaon">
          Johanssaon
        </span>
      </div>
</body>
</html>